<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoviFridge.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E9E41251D1B79E1009C9808</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E9E41391D1B79E2009C9808</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E9E41441D1B79E2009C9808</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
